.result {
    text-align: left;
    padding: 20px 30px;
    margin: 10px -20px;
    &:nth-child(odd) {
            background: white;
        }
    &:nth-child(even) {
        background: rgb(237, 243, 247);
    }
}
.temp {
    font-size: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
}