.result {
    text-align: left;
    padding: 20px 30px;
    margin: 10px -20px;
    text-align: center;
}
.temp {
    font-size: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.weathericon {
    font-size: 5em;
    padding-bottom: 0.5em;
}
.yellow {
    color: #ffae00;
}
.blue {
    color: #0069b4;
}